
<link rel="stylesheet" href="/css/materialize.css" />
<link rel="stylesheet" href="/css/style.css" /> 
<body onload="redirect()">
Try it Yourself »
<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  
<a href="/index.html#/" class="btn btn-info">{{user.username}}
  </a>

<script>
function redirect(){
  window.location = "https://webserveradmin-ericbleiler.c9users.io/index.html#/";
}
</script>