
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<br><br><br><br><br><br>
	  <h1><div class="head-h1">Hot Box Beats</div></h1>

	<div class="form-style-1">
  <h2 class="page-header grey darken-3">Login</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label><div class="formText">Username</div></label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label><div class="formText">Password</div></label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
    <input type="reset"  value="Clear">
    <input type="submit"  value="Submit">

</form>
</div>