

  <div class="form-style-8">

<h2 class="page-header">Add</h2>
	<div class="panel-heading">
	  
	</div>
  <div class="form-group">
	<div class="panel-body">
		<form ng-submit="add()">
    <div class="form-group">
      <label for="name"><span>Name:</span></label>
      <input type="text" class="form-control" id="name" placeholder="Name" ng-model="employee.name"/>
    </div>
    <div class="form-group">
      <label for="album"><span>Album:</span></label>
      <input type="text" class="form-control" id="album" placeholder="Album" ng-model="employee.album">
    </div>
    <div class="form-group">
      <label for="artist"><span>Artist:</span></label>
      <input type="text" class="form-control" id="artist" placeholder="Artist" ng-model="employee.artist">
    </div>
    <div class="form-group">
      <label for="length"><span>Length:</span></label>
      <input type="text" class="form-control" id="length" placeholder="Length" ng-model="employee.length">
      <div class="form-group">
      <label for="playlist"><span>Playlist:</span></label>
      <input type="text" class="form-control" id="playlist" placeholder="Playlist" ng-model="employee.playlist">
      </div>
    </div>
    <input type="submit" style="color:#5bc0de;" class="btn btn-default" />
</form>		
    <div>
