

  <div class="form-style-8">

<h2 class="page-header">Add</h2>
  <div class="panel-heading">
    
  </div>
  <div class="form-group">
  <div class="panel-body">
    <form ng-submit="addAlbum()">
      <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Name" ng-model="albums.name">
    </div>
    
    <div class="form-group">
      <label for="image">Artist:</label>
      <input type="text" class="form-control" id="artist" placeholder="Artist" ng-model="albums.artist">
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
      <input type="text" class="form-control" id="image" placeholder="Image" ng-model="albums.image">
    </div>
    
    <button type="submit" style="color:#5bc0de;" class="btn btn-default">Save</button>
    <a href="#/employees" class="btn btn-default"> Cancel</a>
</form>   
    <div>
