<div class="panel panel-default" ng-init="show()">
	<div class="panel-heading">
	  <p class="panel-title"> Detail Information</p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control">Name: {{ employee.name }}</label>
		 <label class="form-control">Album: {{ employee.album }}</label>
		 <label class="form-control">Artist: {{ employee.artist }}</label>
		 <label class="form-control">Length: {{ employee.length }}</label>
		 <label class="form-control">Playlist: {{ employee.playlist }}</label>
		 <label class="form-control">ID: {{ employee._id }}</label>
		<a href="#/employees" class="btn btn-default"> Cancel</a>
		</div>
	</form>		
    <div>
<div>